.nav .alignNavLinks {
  padding-top: 10px;
}
.container .titre {
  text-align: center;
  margin-top: 50px;
}
.container .btnAddArticle {
  height: 40px;
  width: auto;
  position: absolute;
  right: 10%;
}
.container .writeEditArticle {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 0px;
  padding-right: 25px;
}
.container .writeEditArticle h2 {
  padding-bottom: 35px;
  padding-top: 10px;
}
.container .writeEditArticle form a {
  color: #000;
  float: right;
}
.container #newscontainer {
  margin-top: 100px;
}
.container #newscontainer .card .overlay img {
  width: 100%;
}
.container #newscontainer .card .overlay {
  height: 200px;
}
.container #newscontainer .card .card-block .card-text {
  overflow-wrap: break-word;
}
.container #newscontainer .hided {
  visibility: hidden;
  height: 0;
}
.container #newscontainer .closeButton {
  position: absolute;
  margin: 7px;
  top: 0;
  right: 0;
  z-index: 10;
  cursor: pointer;
}
.text-black li a {
  color: #000;
}
.toggle.android {
  border-radius: 0px;
}
.toggle.android .toggle-handle {
  border-radius: 0px;
}
.toggle.ios,
.toggle-on.ios,
.toggle-off.ios {
  border-radius: 20px;
}
.toggle.ios .toggle-handle {
  border-radius: 20px;
}
